body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    min-height: 100vb;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 30px;
    flex-grow: 1;
    gap: 5px;
}

.cab {
    width: 100%;
}

#buscador input {
    height: 25px;
    width: 350px;
    border: none;
    background-color: #c5ddff;
    padding: 4px;
    border-radius: 6px;
}

#buscador button {
    margin: 0 0 0 3px;
}

article {
    flex-basis: 31%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2% 1% 5% 1%;
}

article:hover {
    box-shadow: 1px 1px 10px grey;
}

article>img {
    width: 90%;
    margin: 0 auto;
}

.addcesta {
    position: relative;
    z-index: 2;
    border-radius: 50%;
    padding: 20px;
    align-self: flex-end;
    margin-right: 7px;
    background-image: url("../images/anadir-a-la-cesta.png");
    background-position: center;
    background-size: cover;
    background-color: #ffffff00;
    cursor: pointer;
}

.datos-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datos-productos div {
    margin: 0.2em 0;
}

.precio {
    color: #246ed4;
    font-weight: 800;
    font-size: 20px;
}

.modelo {
    color: #031530;
    font-weight: 800;
    font-size: 25px;
}

article .colores li {
    display: none;
}

article:hover .colores li {
    display: block;
}

article .colores li.numero {
    display: block;
}

article:hover .colores li.numero {
    display: none;
}

article .colores {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.prev {
    background-image: url(../images/left.jpg);
    background-size: cover
}

.next {
    background-image: url(../images/right.jpg);
    background-size: cover;
}

.colores li {
    width: 1.2em;
    height: 1.2em;
    margin: 0.3em;

}

.colores li.numero,
.descripcion {
    color: grey;
    text-align: center;
    width: 100%;
}

.datos-productos {
    position: relative;
}

.datos-productos img {
    position: absolute;
    right: 10%;
    top: -10%;
}

.negro {
    background-color: black;
    border-radius: 50%;
}

.azul {
    background-color: blue;
    border-radius: 50%;

}

.verde {
    background-color: green;
    border-radius: 50%;

}

.rojo {
    background-color: red;
    border-radius: 50%;

}

.cian {
    background-color: cyan;
    border-radius: 50%;
}

.morado {
    background-color: mediumvioletred;
    border-radius: 50%;
}

.amarillo {
    background-color: yellow;
    border-radius: 50%;
}

.dorado {
    background-color: gold;
    border-radius: 50%;
}

.negro-rosa {
    background: linear-gradient(135deg, black 50%, pink 50%);
    border-radius: 50%;
}


@media only screen and (max-width: 600px) {
    main {
        flex-direction: column;
        align-content: center;
    }

    article {
        flex-basis: 100%;
    }
}

/* HEADER & FOOTER */

header,
footer {
    background: linear-gradient(to right, rgb(88, 43, 124), rgb(14, 40, 90));
    color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    width: 100%;
    height: 60px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 120px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 100%;
}

section {
    display: flex;
    align-items: center;
}

section a {
    text-decoration: none;
    margin: 0px 10px 0px 10px;
    color: white;
    font-size: 13px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    margin-right: 20px;
}

.logo span{
    color: #69a1f0;
}

#izq{
    display: flex;
    gap:20px;
}

button {
    font-size: 12px;
    border: none;
    padding: 10px;
    border-radius: 7px;
    color: white;
    /* background-color: rgb(33, 98, 218); */
    background-color: rgb(185, 80, 182);
    margin-left: 10px;
    cursor: pointer;
}

.carr {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-image: url("../images/carrito3.png");
    background-position: center;
    background-size: cover;
    cursor: pointer;
    background-color: #ffffff00;
}

.rrss {
    display: flex;
    font-size: 12px;
    justify-content: flex-end;
}

#buscador {
    display: block;
}

/* FORMULARIO DE REGISTRO */

.error{
    color: #e0342e;
}

.hide{
    visibility: none;
}

form {
    display: flex;
    flex-direction: column;
    width: 35%;
    /* margin: 50px auto; */
    padding: 1rem 2rem;
    background: #15214b;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}
input{
    margin-bottom: 0.5rem;
    height: 1.5rem;
    border: none;
    background-color: #c5ddff;
    padding: 4px;
    border-radius: 6px;
}
span{
    display: flex;
    align-self: flex-start;
    text-align: left;
    margin-bottom: 1rem;
    font-size: 12px;

}

label {
    font-size: 14px;
    display: flex;
    align-self: flex-start;
    margin-bottom: 5px;
    color: #FFFFFF;
}

form button{
    margin: 0;
}

#productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    flex-grow: 1;
}

#productos article{
    background: linear-gradient(to right, rgb(255, 255, 255) 50%,rgba(117, 172, 255, 0.623) 75%);
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 50px;
    width: 50%;
}

#productos article .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    flex-basis: 55%;
}

#productos article img{
    flex-basis: 15%;
    width: 190px;
}

.butt{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap :10px;
    margin-right: 20px;
}

.butt input{
    width: 30px;
    height: 30px;
    margin: 0;
}

.butt button{
    padding: 12px;
    margin:0;
}

.desc{
    font-size: 22px;
    font-weight: 500;
    color: #031530;
}

.tipo{
    font-weight: 100;
}

.sub{
    align-self: flex-end;
}

.line{
    background-color: #031530;
    border: none;
    height: 1px;
    width: 50%;
    order: 2;
}

.total{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    order: 3;
}
